extends layout

block content
  h1= title
  div.back
    form(action="/bars/new", method="post")
      select.rating(id="rating" name="rating")
        option(value="") Rating
        option(value="5") 5
        option(value="4.5") 4.5
        option(value="4") 4
        option(value="3.5") 3.5
        option(value="3") 3
        option(value="2.5") 2.5
      select.rating(id="neighborhood" name="neighborhood")
        option(value="") Neighborhoods
        option(value="Northeast") Northeast
        option(value="Southeast") Southeast
        option(value="Northwest") Northwest
        option(value="Southwest") Southwest
        option(value="Highland")  Highland
        option(value="CBD") CBD
        option(value="Curtis Park") Curtis Park
        option(value="Cherry Creek") Cherry Creek
        option(value="Lodo") Lodo
        option(value="Five Points") Five Points
        option(value="University") University
        option(value="Speer") Speer
        option(value="Capitol Hill") Capitol Hill
        option(value="Park Hill") Park Hill
        option(value="Lincoln Park") Lincoln Park
        option(value="Golden Triangle") Golden Triangle
        option(value="City Park") City Park
        option(value="Uptown") Uptown
      input(type="submit" value="Find Bars")
  div.welcome
    img(src="http://38.media.tumblr.com/666921068e9fcf1629f5bbd4175c91c8/tumblr_mmkhwjOkLz1sqyl32o1_400.gif" alt="welcome" )
    p.hello= name
  div.logout
    form(action="/logout", method="post")
     input(type="submit" value="logout")
