extends layout

block content
  h1 Bars in 
    =neighborhood 
     
  div.new     
    for item in bar
      a.list(href="/bars/"+ item._id) 
        p= item.name
  div.logout 
    form(action="/logout", method="post")
     input(type="submit" value="logout")
